body {
    margin: 0;
    padding: 0;
    color: #83858F;
    font-size: 1.2rem;
    font-family: 'Source Sans Pro', sans-serif;
    overflow-x: hidden;
}
/*Navigation*/
.nav-item {
    margin: 0 10px;
}

.fa {
    color: #49A0E2;
    padding: 10px;
    font-size: 2.5rem;
}

/*Main Section*/

#main {
    background: url("images/bcg.png") center;
    background-size: cover;
    height: 110vh;
}

.text-main {
    text-transform: uppercase;
    letter-spacing: 4rem;
    font-size: 12rem;
    color: #4C28A9;
    font-weight: 900;
    position: absolute;
    left: 28%;
    top: 55%;
    
    opacity: 0.4;
    text-shadow: 3px 2px 15px rgba(122, 95, 190, 0.95);

}
.text-header {
    font-weight: normal;
    font-size: 5rem;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.text-blue {
    color: #49A0E2;
}

/*About Us*/
#about-us {
    padding-bottom: 70px;
    padding-top: 70px;
}

.hr {
    background-color: #3f1f96;
    width: 50px;
    border: 2px solid #3f1f96;
    position: absolute;
    right: 60%;
    left: 10%;
    
}

.about-heading {
    margin-left: 80px;
    margin-bottom: 40px;
    margin-top: 30px;
    font-size: 2.5rem;
}

.about-text {
    margin-top: 120px;
}

/*Image Section*/
.image-section {
    
    object-fit: cover;
}

/*What we do section*/
#what-we {
    margin: 70px 250px 70px 250px;
}
    
.what-we-heading {
    font-size: 2.5rem;
}


.hr-1 {
    background-color: #3f1f96;
    width: 60px;
    border: 2px solid #3f1f96;
    margin-bottom: 150px;
}

.what-we-info {
    margin-bottom: 70px;
}

.design {
   margin-top: -15px;
   margin-top: -5%;
}
.best-dev {
    margin: 0 100px 0 100px;
}
.what-we-title {
    text-transform: uppercase;
    color: #656B7B;
    font-size: 1rem ;
    font-weight: 600;
}

.what-we-text {
    color: #8394BE;
    font-size: 1rem;
}

.what-we-link {
    text-transform: uppercase;
    color: #6FB7FF;
    padding-right: 90px;
    display: block;
    font-weight: 900;
    margin-bottom: 40px;
}

.what-we-link::after {
    width: 110px;
    background-color: #49A0E2;
    display: block;
    height: 1px;
    left: 47%;
    transform: translate(-50%, 0);
    content: '';
    position: absolute;
}

.what-we-link:hover,
.what-we-link:active {
    color: #6FB7FF;
    text-decoration: none;
}

/*PayMobile Section*/
#pay-mobile {
    background-color: #4C28A9;
    /*padding: 70px 50px 80px 50px;*/
}
/*
.pay-info {
    margin-right: 40px;
}

*/
.pay-heading {
    font-size: 4rem;
    margin-bottom: 20px;
    font-weight: normal;
}
.payme {
    color: #49A0E2;
}

.pay-text {
    font-size: 0.9rem;
    font-weight: normal;
    
}
.btn {
    text-decoration: none;
    color: #fff;
    background-color: #49A0E2;
	border-radius:28px;
	border: none;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	padding:7px 15px;
	text-decoration:none;
    text-shadow:0px 1px 0px #6FB7FF;
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: bold;
    margin: 40px 0 60px 0;
}

.img-1 {
    
    max-width: 100%;
    position: absolute;
    right: 40%;
}


.hr-2 {
    width: 180px;
    background-color: #fff;
    margin-left: 4px;
    border-bottom: 1.5px solid #fff;
}

.hr-2::after {
    width: 1200px;
    background: rgba(255, 255, 255, 0.3);
    content: "";
    height: 1px;
    position: absolute;
    right: 10%;
}

.text-before {
    text-transform: uppercase;
    margin-top: 20px;
    font-weight: normal;
    font-size: 0.9rem;
}

.text-after {
    text-transform: capitalize;
    margin: 0px;
    padding: 0px;
    border: none;
    font-weight: normal;
    font-size: 1.3rem;
    position: absolute;
    top: 40px;

}

/*Twitter section*/

#twitter {
    padding: 30px 0 60px 0;
    text-align: center;
}

.fa { 
   
    margin: 0 auto;
    color: dimgray;
}

.text-twitter {
    font-size: san-serif;
}

.text-twitter-1 {
    color: #49A0E2;
}

/*President section*/
#the-president {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.text-president {
    font-size: 1rem;
}

/**Footer**/
#footer {
    background-color: #3f1f96;
    padding: 30px 70px 5px 70px;
    height: 50vh;
    overflow-y: hidden;
}

.footer-1 {
    padding-bottom: 40px;
}
.text-footer {
    font-size: 1rem;
    margin-top: 40px;
}

.hr-3 {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.3);
}

.text-copy,
.text-design {
    font-size: 0.8rem;
    text-transform: uppercase;
}

.text-copy {
    float: left;
}

.text-design {
    float: right;
}


@media(min-width: 576px) {

.container-fluid {
    max-width: 100% !important;
    padding-left: 0;
    padding-right: 0;
}    

}
/*Main Section*/
.text-header {
    font-size: 2rem;
    text-align: center;
   
}

.text-main {
    font-size: 4rem;
    margin-left: 20px;
}
/**About Us**/

#about-us {
    padding-bottom: 30px;
    padding-top: 30px;
}

.hr {
    background-color: #3f1f96;
    width: 50px;
    border: 2px solid #3f1f96;
    position: absolute;
    left: 10%;
    
}

.about-heading {
    margin-left: 80px;
    margin-bottom: 40px;
    margin-top: 30px;
    font-size: 2.5rem;
}

.about-text {
    margin-top: 120px;
    text-align: center;
    font-size: 1rem;
}
/**Image section **/
.image-section {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/**What we section*/
#what-we {
    margin: 30px 10px 30px 10px;
}
    


.hr-1 {
    background-color: #3f1f96;
    width: 60px;
    border: 2px solid #3f1f96;
    margin-bottom: 150px;
}

.what-we-info {
    margin-bottom: 20px;
}

.design {
   margin-top: 0px;
   margin-top: 0%;
}

.design-img, 
.pro-img {
    display: block;
    margin-right: auto;
    margin-left: auto;
}



.what-we-title {
    text-transform: uppercase;
    color: #656B7B;
    font-size: 1rem ;
    font-weight: 600;
}

.what-we-text {
    color: #8394BE;
    font-size: 1rem;
}

.what-we-link {
    text-transform: uppercase;
    color: #6FB7FF;
    padding-right: 90px;
    display: block;
    font-weight: 900;
    margin-bottom: 40px;
}

.what-we-link::after {
    width: 110px;
    background-color: #49A0E2;
    display: block;
    height: 1px;
    left: 43%;
    transform: translate(-50%, 0);
    content: '';
    position: absolute;
}

.what-we-link:hover,
.what-we-link:active {
    color: #6FB7FF;
    text-decoration: none;
}

/*pay me */

.img-1 {
   
    display: block;
    position: absolute;
    right: 10%;
    bottom: 3%;
}

.img-2 {
    display: block;
    position: absolute;
    right: 13%;
    padding-bottom: 40px;
}
/*
@media screen(min-width: 768px) {

}
*/


@media (min-width: 992px) and (min-width: 1000px) {
    body {
        margin: 0;
        padding: 0;
        color: #83858F;
        font-size: 1.2rem;
        font-family: 'Source Sans Pro', sans-serif;
        overflow-x: hidden;
    }
    /*Navigation*/
    .nav-item {
        margin: 0 10px;
    }
    
    .fa {
        color: #49A0E2;
        padding: 10px;
        font-size: 2rem;
    }
    
    /*Main Section*/
    
    #main {
        background: url("images/bcg.png") center;
        background-size: cover;
        height: 110vh;
    }
    
    .text-main {
        text-transform: uppercase;
        letter-spacing: 4rem;
        font-size: 12rem;
        color: #4C28A9;
        font-weight: 900;
        position: absolute;
        left: 28%;
        top: 55%;
        
        opacity: 0.4;
        text-shadow: 3px 2px 15px rgba(122, 95, 190, 0.95);
    
    }
    .text-header {
        font-weight: normal;
        font-size: 5rem;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
    }
    
    .text-blue {
        color: #49A0E2;
    }
    
    /*About Us*/
    #about-us {
        padding-bottom: 70px;
        padding-top: 70px;
    }
    
    .hr {
        background-color: #3f1f96;
        width: 50px;
        border: 2px solid #3f1f96;
        position: absolute;
        right: 60%;
        left: 10%;
        
    }
    
    .about-heading {
        margin-left: 80px;
        margin-bottom: 40px;
        margin-top: 30px;
        font-size: 2.5rem;
    }
    
    .about-text {
        margin-top: 120px;
    }
    
    /*Image Section*/
    .image-section {
        
        object-fit: cover;
    }
    
    /*What we do section*/
    #what-we {
        margin: 70px 100px 70px 100px;
    }
        
    .what-we-heading {
        font-size: 2.5rem;
    }
    
    
    .hr-1 {
        background-color: #3f1f96;
        width: 60px;
        border: 2px solid #3f1f96;
        margin-bottom: 150px;
    }
    
    .what-we-info {
        margin-bottom: 70px;
    }
    
    .design {
       margin-top: -15px;
       margin-top: -5%;
    }
    .best-dev {
        margin: 0 100px 0 100px;
    }
    .what-we-title {
        text-transform: uppercase;
        color: #656B7B;
        font-size: 1rem ;
        font-weight: 600;
    }
    
    .what-we-text {
        color: #8394BE;
        font-size: 1rem;
    }
    
    .what-we-link {
        text-transform: uppercase;
        color: #6FB7FF;
        padding-right: 90px;
        display: block;
        font-weight: 900;
        margin-bottom: 40px;
    }
    
    .what-we-link::after {
        width: 110px;
        background-color: #49A0E2;
        display: block;
        height: 1px;
        left: 47%;
        transform: translate(-50%, 0);
        content: '';
        position: absolute;
    }
    
    .what-we-link:hover,
    .what-we-link:active {
        color: #6FB7FF;
        text-decoration: none;
    }
    
    /*PayMobile Section*/
    #pay-mobile {
        background-color: #4C28A9;
        padding: 70px 50px 80px 50px;
    }
    .pay-info {
        margin-right: 40px;
    }
    .pay-heading {
        font-size: 4rem;
        margin-bottom: 20px;
        font-weight: normal;
    }
    .payme {
        color: #49A0E2;
    }
    
    .pay-text {
        font-size: 0.9rem;
        font-weight: normal;
    }
    .btn {
        text-decoration: none;
        color: #fff;
        background-color: #49A0E2;
        border-radius:28px;
        border: none;
        display:inline-block;
        cursor:pointer;
        color:#ffffff;
        font-family:Arial;
        padding:7px 15px;
        text-decoration:none;
        text-shadow:0px 1px 0px #6FB7FF;
        text-transform: uppercase;
        font-size: 0.8rem;
        font-weight: bold;
        margin: 40px 0 60px 0;
    }
    
    .img-1 {
       
        display: block;
        position: absolute;
        right: 10%;
        bottom: 3%;
    }
    
    .img-2 {
        display: block;
        position: absolute;
        right: 13%;
        padding-bottom: 40px;
    }
    
    .hr-2 {
        width: 180px;
        background-color: #fff;
        margin-left: 4px;
        border-bottom: 1.5px solid #fff;
    }
    
    .hr-2::after {
        width: 1200px;
        background: rgba(255, 255, 255, 0.3);
        content: "";
        height: 1px;
        position: absolute;
        right: 10%;
    }
    
    .text-before {
        text-transform: uppercase;
        margin-top: 20px;
        font-weight: normal;
        font-size: 0.9rem;
    }
    
    .text-after {
        text-transform: capitalize;
        margin: 0px;
        padding: 0px;
        border: none;
        font-weight: normal;
        font-size: 1.3rem;
        position: absolute;
        top: 40px;
    
    }
    
    /*Twitter section*/
    
    #twitter {
        padding: 30px 0 60px 0;
        text-align: center;
    }
    
    .fa { 
       
        margin: 0 auto;
        color: dimgray;
    }
    
    .text-twitter {
        font-size: san-serif;
    }
    
    .text-twitter-1 {
        color: #49A0E2;
    }
    
    /*President section*/
    #the-president {
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }
    
    .text-president {
        font-size: 1rem;
    }
    
    /**Footer**/
    #footer {
        background-color: #3f1f96;
        padding: 30px 70px 5px 70px;
        height: 50vh;
    }
    
    .footer-1 {
        padding-bottom: 40px;
    }
    .text-footer {
        font-size: 1rem;
        margin-top: 40px;
    }
    
    .hr-3 {
        width: 100%;
        background-color: rgba(255, 255, 255, 0.3);
    }
    
    .text-copy,
    .text-design {
        font-size: 0.8rem;
        text-transform: uppercase;
    }
    
    .text-copy {
        float: left;
    }
    
    .text-design {
        float: right;
    }
    


}